[submodule "NamespaceTV"]
	path = NamespaceTV
	url = https://github.com/scotthewitt/NamespaceTV.git
[submodule "Chuck-Slime"]
	path = Chuck-Slime
	url = https://github.com/HELOpg/Chuck-Slime.git
[submodule "pd-slime"]
	path = pd-slime
	url = https://github.com/HELOpg/pd-slime.git
[submodule "Max-Slime"]
	path = Max-Slime
	url = https://github.com/HELOpg/Max-Slime.git
[submodule "Deploy-Slime"]
	path = Deploy-Slime
	url = https://github.com/HELOpg/Deploy-Slime.git
[submodule "performances-slime"]
	path = performances-slime
	url = https://github.com/HELOpg/performances-slime.git
